!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title= @title
    %link{href: "/stylesheets/styles.css", rel: "stylesheet"}/
    /[if IE]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    %header{role: "banner"}
      %div.container-fluid
      %nav.navbar.navbar-default{role: "navigation"}
        %div.container-fluid
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{ href: "#" } Blog
    %section
      = yield
    %footer.container-fluid
      .container
        %small
        %p Copyrights 2014.