!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title= @title
    %link{href: "/stylesheets/screen.css", rel: "stylesheet"}/
    /[if IE]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    %header{role: "banner"}
      .action-link
        %a{href: "#"} Blog
    %section{role: "main"}
      %article
        %header
          %h1= @title
        = yield
    %footer
      %small
      %p Copyrights 2014.